@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital&display=swap');
@import 'tailwindcss';

@theme {
    --color-yellow: #ffbe0b;
    --color-purple: #8338ec;
    --color-pink: #ff006e;

    --font-roboto: "Roboto", sans-serif;
    --font-silkscreen: "Silkscreen", sans-serif;
}